/* Please use this css file for any overriding styles that you want. */

.mx-wrapper {
    margin-bottom: 0;
}

.mx-combobox .mx-combobox-input {
    height: calc(2.85rem + 2px);
}

.mx-autocompletebox .racTokenList {
    min-height: calc(3.25rem + 2px);
    padding: 0.9rem 1rem !important;
}

.mx-datepicker .RadInput_Default input[type="text"] {
    padding: 0.55rem 0.75rem 0.2rem 0.75rem !important;
    height: calc(3.25rem + 2px);
}

.mx-companyname-span 
{
    font-size: 20px;
}

#dnn_ctr1163_ProductListing_ctl00_uscFind_lstRecords_pnlItems .mx-items-panel .card {
  
    min-height: 570px!important;
}
#dnn_ctl03_mxShoppingCartSummary_itemsCount{

    
    
    font-size: 40%!important;

}


.mx-configtoolbar-wrapper {
    /*position: relative;*/
    /* top: 10px; */
    /*bottom: 28px;*/
    /* left: 97px; */
    /*right: 153px;*/
}
.mx-shoppingcart-cart-wrapper .mx-sidebar ul li a {
    text-transform: uppercase;
    color: #1E3C72!important;
}
