@import url(https://fonts.googleapis.com/css?family=Baloo+2);
@media (max-width: 576px) {
  .mx .card-group,
  .mx .card-deck {
    /* ios */
    flex-flow: row wrap;
  }
}
@media (min-width: 0) {
  .mx .card-group .card,
  .mx .card-deck .card {
    flex: 0 0 100%;
  }
}
@media (min-width: 576px) {
  .mx .card-group .card,
  .mx .card-deck .card {
    /* ie */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 32px);
    /* non ie */
    flex: 0 0 calc(50% - 30px);
  }
}
@media (min-width: 768px) {
  .mx .card-group .card,
  .mx .card-deck .card {
    /* ie */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 32px);
    /* non ie */
    flex: 0 0 calc(50% - 30px);
  }
}
@media (min-width: 992px) {
  .mx .card-group .card,
  .mx .card-deck .card {
    /* ie */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.3333333333% - 32px);
    /* non ie */
    flex: 0 0 calc(33.3333333333% - 30px);
  }
}
@media (min-width: 1200px) {
  .mx .card-group .card,
  .mx .card-deck .card {
    /* ie */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.3333333333% - 32px);
    /* non ie */
    flex: 0 0 calc(33.3333333333% - 30px);
  }
}

.mx-btn-circle {
  border-radius: 100%;
  height: 3.125rem;
  width: 3.125rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 !important;
}

.mx-btn-circle-sm {
  border-radius: 100%;
  height: 2.25rem;
  width: 2.25rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 !important;
}

.mx-radiobuttonlist input[type=radio],
.mx-radiobuttonlist input[type=checkbox], .mx-checkboxlist input[type=radio],
.mx-checkboxlist input[type=checkbox] {
  position: absolute;
  margin-top: 0.2rem;
}
.mx-radiobuttonlist label, .mx-checkboxlist label {
  display: inline-block;
  margin-left: 1.25rem;
  margin-right: 1rem;
}

.form-group.required label:after, .form-row .required label:after {
  background: inherit;
  border: inherit;
  content: "*";
  color: red;
  display: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  margin: 0;
  margin-left: 0.25rem;
  padding: 0;
}

::placeholder {
  color: #C0C0C0 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #C0C0C0 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #C0C0C0 !important;
}

div.card-img-top {
  text-align: center;
  padding: 1rem 1rem 0rem;
}

.mx-image-account {
  object-fit: cover;
  object-position: center;
  width: auto;
  max-width: 100%;
  height: 240px;
}

.mx-image-contact {
  object-fit: cover;
  object-position: center;
  width: auto;
  max-width: 100%;
  height: 300px;
}

.mx-image-event {
  object-fit: cover;
  object-position: center;
  width: auto;
  max-width: 100%;
  height: 200px;
}

.mx-image-product {
  object-fit: cover;
  object-position: center;
  width: auto;
  max-width: 100%;
  height: 300px;
}

.mx-image-account-detail {
  width: 100%;
  height: auto;
}

.mx-image-contact-detail {
  width: 100%;
  height: auto;
}

.mx-image-event-detail {
  width: 100%;
  height: auto;
}

.mx-image-product-detail {
  width: 100%;
  height: auto;
}

.mx-image-campaign-detail {
  width: 100%;
  height: auto;
}

.mx-loading {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 1002;
}

.mx-w-5 {
  width: 5% !important;
}

.mx-w-10 {
  width: 10% !important;
}

.mx-w-15 {
  width: 15% !important;
}

.mx-w-20 {
  width: 20% !important;
}

.mx-w-30 {
  width: 30% !important;
}

.mx-w-40 {
  width: 40% !important;
}

.mx-w-45 {
  width: 45% !important;
}

.mx-windowmanager {
  background-color: #fff;
}
.mx-windowmanager .rwTable {
  height: 100% !important;
}
.mx-windowmanager .rwTopResize,
.mx-windowmanager .rwTopLeft,
.mx-windowmanager .rwTitlebar,
.mx-windowmanager .rwTopRight,
.mx-windowmanager .rwBodyLeft,
.mx-windowmanager .rwBodyRight,
.mx-windowmanager .rwFooterLeft,
.mx-windowmanager .rwFooterCenter,
.mx-windowmanager .rwFooterRight {
  background: none !important;
}
.mx-windowmanager .rwIcon {
  display: none !important;
}
.mx-windowmanager .rwDialogText {
  margin-bottom: 0.5rem;
}

.mx-large-popup {
  width: 936px !important;
  height: 702px !important;
}
@media (max-width: 992px) {
  .mx-large-popup {
    width: 95% !important;
    height: 95% !important;
  }
}

.mx-medium-popup {
  width: 749px !important;
  height: 562px !important;
}
@media (max-width: 768px) {
  .mx-medium-popup {
    width: 95% !important;
    height: 95% !important;
  }
}

.mx-small-popup {
  width: 599px !important;
  height: 449px !important;
}
@media (max-width: 768px) {
  .mx-small-popup {
    width: 95% !important;
    height: 95% !important;
  }
}

.mx-dialog-popup {
  height: auto !important;
}

.mx-multipage {
  margin-bottom: 1rem;
}

.mx-panelbar {
  margin-bottom: 1rem;
}
.mx-panelbar .rpTemplate {
  font-family: inherit !important;
}
.mx-panelbar .rpGroup .rpLink,
.mx-panelbar .rpGroup .rpTemplate {
  font-size: inherit !important;
}
.mx-panelbar ul.rpRootGroup {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.mx-panelbar ul.rpRootGroup li.rpItem a.rpLink {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 10px;
  font: inherit;
  color: #007bff !important;
  border-color: rgba(0, 0, 0, 0.125);
  border-width: 1px;
}
.mx-panelbar ul.rpRootGroup li.rpItem a.rpLink .rpOut {
  border-width: 0px;
}
.mx-panelbar ul.rpGroup {
  padding: 0.5rem;
}

.mx-multipage .mx-panelbar {
  margin-bottom: 0;
}

.mx-treeview {
  font: inherit !important;
  white-space: normal !important;
}
.mx-treeview .rtHover .rtIn,
.mx-treeview .rtSelected .rtIn {
  color: inherit !important;
  background: none !important;
  border: none !important;
  padding: 4px 3px 3px !important;
  cursor: pointer !important;
}

.mx-captcha p {
  margin-bottom: 0;
}
.mx-captcha p label {
  margin-bottom: 0;
}
.mx-captcha p label:empty {
  display: none;
}

.mx-grid .rgHeader a {
  color: inherit;
  text-decoration: underline;
}
.mx-grid .rgGroupHeader td p {
  margin-bottom: 0;
}
.mx-grid .rgPager:hover {
  background-color: transparent !important;
}
.mx-grid td {
  overflow: hidden;
  vertical-align: middle !important;
}
.mx-grid.table-hover tr {
  cursor: pointer;
}

.mx-scheduler {
  margin-bottom: 1rem !important;
}

.mx-upload .ruFileWrap {
  position: relative;
}
.mx-upload .ruFileInput {
  position: absolute;
  top: -10px;
  right: 0;
  padding: 0.692em 1.071em;
  opacity: 0;
}
.mx-upload ul {
  padding: 0;
  list-style-type: none;
}
.mx-upload input[type=text] {
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
}
.mx-upload input[type=button] {
  font-weight: 400;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
.mx-upload .ruUploadProgress {
  margin-right: 0.5rem;
}
.mx-upload .ruDropZone {
  display: none;
}

.mx-combobox {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.mx-combobox,
.mx-combobox .mx-combobox-input {
  font-family: inherit !important;
  font-size: inherit !important;
}
.mx-combobox .rcbInputCell,
.mx-combobox .rcbArrowCell {
  background-image: none !important;
}
.mx-combobox .mx-combobox-input {
  height: calc(2.25rem + 2px - 8px);
  padding: 0.55rem 0.75rem 0.2rem 0.75rem !important;
}

.mx-combobox-dropdown {
  font-family: inherit !important;
  font-size: inherit !important;
}
.mx-combobox-dropdown input[type=checkbox] {
  margin-right: 0.5rem;
}

.mx-autocompletebox {
  width: 100% !important;
}
.mx-autocompletebox,
.mx-autocompletebox .racInput {
  font-family: inherit !important;
  font-size: inherit !important;
}
.mx-autocompletebox .racTokenList {
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  min-height: calc(1.5em + 0.75rem + 2px);
  padding: 0.5rem 0.75rem !important;
}
.mx-autocompletebox .racToken {
  white-space: normal !important;
  background-image: none !important;
}
.mx-autocompletebox .racToken .racRemoveTokenLink {
  margin-left: 5px !important;
  background-position: -2px -1344px !important;
}

.racSlide {
  width: auto !important;
}
.racSlide .RadAutoCompleteBoxPopup_Default {
  font-family: inherit !important;
  font-size: inherit !important;
  width: auto !important;
}

.mx-datepicker {
  width: 100% !important;
  height: auto !important;
}
.mx-datepicker .rcTable {
  width: auto !important;
}
.mx-datepicker .rcTable .RadInput_Default {
  font: inherit !important;
}
.mx-datepicker .rcTable .RadInput_Default input[type=text] {
  border: 1px solid #ced4da;
  font: inherit !important;
  color: #495057;
}

.RadEditor {
  overflow-x: hidden;
  overflow-y: auto;
}

.RadAutoCompleteBox .racTokenList.racDisabled {
  background-color: #e9ecef !important;
  opacity: 1 !important;
}
.RadAutoCompleteBox .racTokenList.racDisabled .racToken {
  background-color: #e9ecef !important;
  color: #495057 !important;
  opacity: 1 !important;
}

.mx-wrapper {
  clear: both;
  margin-bottom: 1rem;
}

.mx-sub-wrapper {
  clear: both;
}

.card-header .mx-title-wrapper h2 {
  font-size: 1.25rem;
  margin-bottom: 0;
}

.mx-instructions-wrapper {
  margin-bottom: 0.5rem;
}

.mx-admintoolbar-wrapper {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 0px;
  z-index: 999;
  top: 75px;
  background: #fff;
  text-align: center;
  padding-top: 3px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  display: none;
}
@media (min-width: 992px) {
  .mx-admintoolbar-wrapper {
    display: block;
  }
}

.mx-configtoolbar-wrapper {
  margin-bottom: 0.5rem;
  display: none;
}
@media (min-width: 992px) {
  .mx-configtoolbar-wrapper {
    display: block;
  }
}

.mx-configwindow-wrapper .mx-configadvancedtexts-fieldset {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.mx-configwindow-wrapper .mx-configadvancedtexts-fieldset .form-group {
  flex: 0 0 50%;
  width: 50%;
  padding-right: 5px;
  padding-left: 5px;
}

.mx-admintoolbar-wrapper,
.mx-adminmodal-wrapper,
.mx-configtoolbar-wrapper,
.mx-configmodal-wrapper {
  font-size: 14px;
  font-family: "Baloo 2", cursive;
}
.mx-admintoolbar-wrapper .btn,
.mx-adminmodal-wrapper .btn,
.mx-configtoolbar-wrapper .btn,
.mx-configmodal-wrapper .btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.mx-admintoolbar-wrapper .modal-dialog .modal-close,
.mx-adminmodal-wrapper .modal-dialog .modal-close,
.mx-configtoolbar-wrapper .modal-dialog .modal-close,
.mx-configmodal-wrapper .modal-dialog .modal-close {
  position: absolute;
  right: -15px;
  top: -15px;
  cursor: pointer;
}
.mx-admintoolbar-wrapper .modal-dialog .modal-maximize,
.mx-adminmodal-wrapper .modal-dialog .modal-maximize,
.mx-configtoolbar-wrapper .modal-dialog .modal-maximize,
.mx-configmodal-wrapper .modal-dialog .modal-maximize {
  position: absolute;
  right: 15px;
  top: -15px;
  cursor: pointer;
}
.mx-admintoolbar-wrapper .config-loading,
.mx-adminmodal-wrapper .config-loading,
.mx-configtoolbar-wrapper .config-loading,
.mx-configmodal-wrapper .config-loading {
  position: absolute;
  top: 50%;
}

.mx-admintoolbar-wrapper a, .mx-admintoolbar-wrapper a:active,
.mx-adminmodal-wrapper a,
.mx-adminmodal-wrapper a:active,
.mx-adminwindow-wrapper a,
.mx-adminwindow-wrapper a:active,
.mx-configtoolbar-wrapper a,
.mx-configtoolbar-wrapper a:active,
.mx-configmodal-wrapper a,
.mx-configmodal-wrapper a:active,
.mx-configwindow-wrapper a,
.mx-configwindow-wrapper a:active {
  color: #264dae;
}
.mx-admintoolbar-wrapper a:hover,
.mx-adminmodal-wrapper a:hover,
.mx-adminwindow-wrapper a:hover,
.mx-configtoolbar-wrapper a:hover,
.mx-configmodal-wrapper a:hover,
.mx-configwindow-wrapper a:hover {
  text-decoration: none;
  color: #343a40;
}
.mx-admintoolbar-wrapper .text-primary,
.mx-adminmodal-wrapper .text-primary,
.mx-adminwindow-wrapper .text-primary,
.mx-configtoolbar-wrapper .text-primary,
.mx-configmodal-wrapper .text-primary,
.mx-configwindow-wrapper .text-primary {
  color: #264dae !important;
}
.mx-admintoolbar-wrapper .bg-primary,
.mx-adminmodal-wrapper .bg-primary,
.mx-adminwindow-wrapper .bg-primary,
.mx-configtoolbar-wrapper .bg-primary,
.mx-configmodal-wrapper .bg-primary,
.mx-configwindow-wrapper .bg-primary {
  background-color: #264dae !important;
}
.mx-admintoolbar-wrapper .btn,
.mx-adminmodal-wrapper .btn,
.mx-adminwindow-wrapper .btn,
.mx-configtoolbar-wrapper .btn,
.mx-configmodal-wrapper .btn,
.mx-configwindow-wrapper .btn {
  border-radius: 0rem;
}
.mx-admintoolbar-wrapper .btn-primary,
.mx-adminmodal-wrapper .btn-primary,
.mx-adminwindow-wrapper .btn-primary,
.mx-configtoolbar-wrapper .btn-primary,
.mx-configmodal-wrapper .btn-primary,
.mx-configwindow-wrapper .btn-primary {
  background: #264dae;
  border-color: #264dae;
}
.mx-admintoolbar-wrapper .btn-primary:hover,
.mx-adminmodal-wrapper .btn-primary:hover,
.mx-adminwindow-wrapper .btn-primary:hover,
.mx-configtoolbar-wrapper .btn-primary:hover,
.mx-configmodal-wrapper .btn-primary:hover,
.mx-configwindow-wrapper .btn-primary:hover {
  background: #fff;
  color: #264dae;
  border-color: #264dae;
}
.mx-admintoolbar-wrapper .btn-secondary,
.mx-adminmodal-wrapper .btn-secondary,
.mx-adminwindow-wrapper .btn-secondary,
.mx-configtoolbar-wrapper .btn-secondary,
.mx-configmodal-wrapper .btn-secondary,
.mx-configwindow-wrapper .btn-secondary {
  background: #5d6268;
  border-color: #5d6268;
}
.mx-admintoolbar-wrapper .btn-secondary:hover,
.mx-adminmodal-wrapper .btn-secondary:hover,
.mx-adminwindow-wrapper .btn-secondary:hover,
.mx-configtoolbar-wrapper .btn-secondary:hover,
.mx-configmodal-wrapper .btn-secondary:hover,
.mx-configwindow-wrapper .btn-secondary:hover {
  background: #fff;
  color: #5d6268;
  border-color: #5d6268;
}
.mx-admintoolbar-wrapper .btn-outline-primary,
.mx-admintoolbar-wrapper a.btn-outline-primary,
.mx-adminmodal-wrapper .btn-outline-primary,
.mx-adminmodal-wrapper a.btn-outline-primary,
.mx-adminwindow-wrapper .btn-outline-primary,
.mx-adminwindow-wrapper a.btn-outline-primary,
.mx-configtoolbar-wrapper .btn-outline-primary,
.mx-configtoolbar-wrapper a.btn-outline-primary,
.mx-configmodal-wrapper .btn-outline-primary,
.mx-configmodal-wrapper a.btn-outline-primary,
.mx-configwindow-wrapper .btn-outline-primary,
.mx-configwindow-wrapper a.btn-outline-primary {
  color: #264dae;
  border-color: #264dae;
}
.mx-admintoolbar-wrapper .btn-outline-primary:hover, .mx-admintoolbar-wrapper .btn-outline-primary:not(:disabled):not(.disabled):active, .mx-admintoolbar-wrapper .btn-outline-primary:not(:disabled):not(.disabled).active,
.mx-admintoolbar-wrapper a.btn-outline-primary:hover, .mx-admintoolbar-wrapper a:visited.btn-outline-primary:hover,
.mx-adminmodal-wrapper .btn-outline-primary:hover,
.mx-adminmodal-wrapper .btn-outline-primary:not(:disabled):not(.disabled):active,
.mx-adminmodal-wrapper .btn-outline-primary:not(:disabled):not(.disabled).active,
.mx-adminmodal-wrapper a.btn-outline-primary:hover,
.mx-adminmodal-wrapper a:visited.btn-outline-primary:hover,
.mx-adminwindow-wrapper .btn-outline-primary:hover,
.mx-adminwindow-wrapper .btn-outline-primary:not(:disabled):not(.disabled):active,
.mx-adminwindow-wrapper .btn-outline-primary:not(:disabled):not(.disabled).active,
.mx-adminwindow-wrapper a.btn-outline-primary:hover,
.mx-adminwindow-wrapper a:visited.btn-outline-primary:hover,
.mx-configtoolbar-wrapper .btn-outline-primary:hover,
.mx-configtoolbar-wrapper .btn-outline-primary:not(:disabled):not(.disabled):active,
.mx-configtoolbar-wrapper .btn-outline-primary:not(:disabled):not(.disabled).active,
.mx-configtoolbar-wrapper a.btn-outline-primary:hover,
.mx-configtoolbar-wrapper a:visited.btn-outline-primary:hover,
.mx-configmodal-wrapper .btn-outline-primary:hover,
.mx-configmodal-wrapper .btn-outline-primary:not(:disabled):not(.disabled):active,
.mx-configmodal-wrapper .btn-outline-primary:not(:disabled):not(.disabled).active,
.mx-configmodal-wrapper a.btn-outline-primary:hover,
.mx-configmodal-wrapper a:visited.btn-outline-primary:hover,
.mx-configwindow-wrapper .btn-outline-primary:hover,
.mx-configwindow-wrapper .btn-outline-primary:not(:disabled):not(.disabled):active,
.mx-configwindow-wrapper .btn-outline-primary:not(:disabled):not(.disabled).active,
.mx-configwindow-wrapper a.btn-outline-primary:hover,
.mx-configwindow-wrapper a:visited.btn-outline-primary:hover {
  color: #fff;
  background-color: #264dae;
  border-color: #264dae;
}
.mx-admintoolbar-wrapper .btn-outline-secondary,
.mx-admintoolbar-wrapper a.btn-outline-secondary,
.mx-adminmodal-wrapper .btn-outline-secondary,
.mx-adminmodal-wrapper a.btn-outline-secondary,
.mx-adminwindow-wrapper .btn-outline-secondary,
.mx-adminwindow-wrapper a.btn-outline-secondary,
.mx-configtoolbar-wrapper .btn-outline-secondary,
.mx-configtoolbar-wrapper a.btn-outline-secondary,
.mx-configmodal-wrapper .btn-outline-secondary,
.mx-configmodal-wrapper a.btn-outline-secondary,
.mx-configwindow-wrapper .btn-outline-secondary,
.mx-configwindow-wrapper a.btn-outline-secondary {
  color: #5d6268;
  border-color: #5d6268;
}
.mx-admintoolbar-wrapper .btn-outline-secondary:hover, .mx-admintoolbar-wrapper .btn-outline-secondary:not(:disabled):not(.disabled):active, .mx-admintoolbar-wrapper .btn-outline-secondary:not(:disabled):not(.disabled).active,
.mx-admintoolbar-wrapper a.btn-outline-secondary:hover, .mx-admintoolbar-wrapper a:visited.btn-outline-secondary:hover,
.mx-adminmodal-wrapper .btn-outline-secondary:hover,
.mx-adminmodal-wrapper .btn-outline-secondary:not(:disabled):not(.disabled):active,
.mx-adminmodal-wrapper .btn-outline-secondary:not(:disabled):not(.disabled).active,
.mx-adminmodal-wrapper a.btn-outline-secondary:hover,
.mx-adminmodal-wrapper a:visited.btn-outline-secondary:hover,
.mx-adminwindow-wrapper .btn-outline-secondary:hover,
.mx-adminwindow-wrapper .btn-outline-secondary:not(:disabled):not(.disabled):active,
.mx-adminwindow-wrapper .btn-outline-secondary:not(:disabled):not(.disabled).active,
.mx-adminwindow-wrapper a.btn-outline-secondary:hover,
.mx-adminwindow-wrapper a:visited.btn-outline-secondary:hover,
.mx-configtoolbar-wrapper .btn-outline-secondary:hover,
.mx-configtoolbar-wrapper .btn-outline-secondary:not(:disabled):not(.disabled):active,
.mx-configtoolbar-wrapper .btn-outline-secondary:not(:disabled):not(.disabled).active,
.mx-configtoolbar-wrapper a.btn-outline-secondary:hover,
.mx-configtoolbar-wrapper a:visited.btn-outline-secondary:hover,
.mx-configmodal-wrapper .btn-outline-secondary:hover,
.mx-configmodal-wrapper .btn-outline-secondary:not(:disabled):not(.disabled):active,
.mx-configmodal-wrapper .btn-outline-secondary:not(:disabled):not(.disabled).active,
.mx-configmodal-wrapper a.btn-outline-secondary:hover,
.mx-configmodal-wrapper a:visited.btn-outline-secondary:hover,
.mx-configwindow-wrapper .btn-outline-secondary:hover,
.mx-configwindow-wrapper .btn-outline-secondary:not(:disabled):not(.disabled):active,
.mx-configwindow-wrapper .btn-outline-secondary:not(:disabled):not(.disabled).active,
.mx-configwindow-wrapper a.btn-outline-secondary:hover,
.mx-configwindow-wrapper a:visited.btn-outline-secondary:hover {
  color: #fff;
  background: #5d6268;
  border-color: #5d6268;
}
.mx-admintoolbar-wrapper .form-control,
.mx-adminmodal-wrapper .form-control,
.mx-adminwindow-wrapper .form-control,
.mx-configtoolbar-wrapper .form-control,
.mx-configmodal-wrapper .form-control,
.mx-configwindow-wrapper .form-control {
  padding: 0.9rem 1rem;
  height: calc(3.25rem + 2px);
  border-radius: 0px;
}
.mx-admintoolbar-wrapper .table .form-control,
.mx-adminmodal-wrapper .table .form-control,
.mx-adminwindow-wrapper .table .form-control,
.mx-configtoolbar-wrapper .table .form-control,
.mx-configmodal-wrapper .table .form-control,
.mx-configwindow-wrapper .table .form-control {
  padding: 0.375rem 0.75rem;
  height: calc(1.5em + 0.75rem + 2px);
}
.mx-admintoolbar-wrapper .form-group label,
.mx-adminmodal-wrapper .form-group label,
.mx-adminwindow-wrapper .form-group label,
.mx-configtoolbar-wrapper .form-group label,
.mx-configmodal-wrapper .form-group label,
.mx-configwindow-wrapper .form-group label {
  margin-right: 0.5rem;
}
.mx-admintoolbar-wrapper .form-group .custom-switch,
.mx-adminmodal-wrapper .form-group .custom-switch,
.mx-adminwindow-wrapper .form-group .custom-switch,
.mx-configtoolbar-wrapper .form-group .custom-switch,
.mx-configmodal-wrapper .form-group .custom-switch,
.mx-configwindow-wrapper .form-group .custom-switch {
  display: inline;
}
.mx-admintoolbar-wrapper .form-group .input-group .custom-switch label,
.mx-adminmodal-wrapper .form-group .input-group .custom-switch label,
.mx-adminwindow-wrapper .form-group .input-group .custom-switch label,
.mx-configtoolbar-wrapper .form-group .input-group .custom-switch label,
.mx-configmodal-wrapper .form-group .input-group .custom-switch label,
.mx-configwindow-wrapper .form-group .input-group .custom-switch label {
  margin-right: 0;
}
.mx-admintoolbar-wrapper .custom-switch .custom-control-input:checked ~ .custom-control-label::before,
.mx-adminmodal-wrapper .custom-switch .custom-control-input:checked ~ .custom-control-label::before,
.mx-adminwindow-wrapper .custom-switch .custom-control-input:checked ~ .custom-control-label::before,
.mx-configtoolbar-wrapper .custom-switch .custom-control-input:checked ~ .custom-control-label::before,
.mx-configmodal-wrapper .custom-switch .custom-control-input:checked ~ .custom-control-label::before,
.mx-configwindow-wrapper .custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  background: #264dae;
  border-color: #264dae;
}
.mx-admintoolbar-wrapper .custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before,
.mx-adminmodal-wrapper .custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before,
.mx-adminwindow-wrapper .custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before,
.mx-configtoolbar-wrapper .custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before,
.mx-configmodal-wrapper .custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before,
.mx-configwindow-wrapper .custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
  border-color: rgba(0, 123, 255, 0.5);
}
.mx-admintoolbar-wrapper .nav-pills .nav-link.active,
.mx-adminmodal-wrapper .nav-pills .nav-link.active,
.mx-adminwindow-wrapper .nav-pills .nav-link.active,
.mx-configtoolbar-wrapper .nav-pills .nav-link.active,
.mx-configmodal-wrapper .nav-pills .nav-link.active,
.mx-configwindow-wrapper .nav-pills .nav-link.active {
  background-color: #264dae;
}

.mx-customer-address-wrapper .mx-address-wrapper.mx-hiderequiredasterisk .form-group.required label::after, .mx-customer-address-wrapper .mx-address-wrapper.mx-hiderequiredasterisk .form-row .required label::after {
  display: none !important;
}

.mx-customer-addresses-wrapper .card {
  margin-bottom: 1.5rem;
}
.mx-customer-addresses-wrapper .card .card-title {
  font-weight: bold;
}
.mx-customer-addresses-wrapper .mx-displaymoreaddresses-panel .mx-moreicon-hyperlink i {
  margin-top: -0.35em;
}

.mx-customer-image-wrapper .mx-modeview-panel {
  position: relative;
}
.mx-customer-image-wrapper .mx-modeview-panel .mx-edit-panel {
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.mx-customer-image-wrapper .mx-noimageview-panel h1, .mx-customer-image-wrapper .mx-noimageedit-panel h1 {
  height: 300px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #c4c4c4;
  font-size: 6rem;
  text-align: center;
}

.mx-fundraising-advancedcontributions-wrapper .mx-otheramount-panel .input-group {
  width: 200px !important;
}
.mx-fundraising-advancedcontributions-wrapper input[type=radio] {
  display: none !important;
}

.mx-controls-file-sub-wrapper .mx-upload .ruFileWrap .ruFakeInput {
  display: none;
}
.mx-controls-file-sub-wrapper .mx-upload .ruInputs {
  margin-left: 0px;
}

.mx-lookup-wrapper .mx-showall-hyperlink {
  position: absolute;
  left: -23px;
}

.mx-controls-lookup-sub-wrapper {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-controls-lookup-sub-wrapper .mx-global-form-wrapper {
  margin-bottom: 0;
}
.mx-controls-lookup-sub-wrapper .mx-global-form-wrapper .mx-multipage {
  margin-bottom: 0;
}
.mx-controls-lookup-sub-wrapper .mx-global-form-wrapper .mx-panelbar ul.rpRootGroup {
  border: 0;
}
.mx-controls-lookup-sub-wrapper .mx-global-form-wrapper .mx-panelbar .rpLink {
  display: none;
}
.mx-controls-lookup-sub-wrapper .mx-global-form-wrapper .mx-panelbar ul.rpGroup {
  padding: 0;
}

.mx-global-find-wrapper .mx-items-panel .card {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mx-global-find-wrapper .mx-items-panel .card .card-title {
  margin-bottom: 0.5rem;
}
.mx-global-find-wrapper .mx-items-panel .card .card-subtitle {
  margin-bottom: 0.5rem;
}
.mx-global-find-wrapper .mx-items-panel .card .card-text {
  font-size: 0.9rem;
}
.mx-global-find-wrapper .mx-items-panel .card .card-text .form-control {
  font-size: 0.9rem;
}
.mx-global-find-wrapper .mx-items-panel .card .card-text i {
  margin-right: 0.5rem;
}
.mx-global-find-wrapper .mx-items-panel .card .alert {
  margin-bottom: 0;
}
.mx-global-find-wrapper .mx-items-panel .card .mx-radiobuttonlist input[type=radio],
.mx-global-find-wrapper .mx-items-panel .card .mx-radiobuttonlist input[type=checkbox], .mx-global-find-wrapper .mx-items-panel .card .mx-checkboxlist input[type=radio],
.mx-global-find-wrapper .mx-items-panel .card .mx-checkboxlist input[type=checkbox] {
  margin-top: 0.1rem;
}

.mx-global-form-wrapper .mx-global-formtabedit-sub-wrapper .col-sm .riSingle, .mx-global-form-wrapper .mx-global-formtabedit-sub-wrapper .col-sm .RadPicker_Default {
  display: block;
  width: 100% !important;
}
.mx-global-form-wrapper .mx-global-formtabedit-sub-wrapper .col-sm .form-check-input {
  position: relative;
}
.mx-global-form-wrapper .mx-global-formtabedit-sub-wrapper .rpSlide, .mx-global-form-wrapper .mx-global-formtabedit-sub-wrapper .rpGroup, .mx-global-form-wrapper .mx-global-formtabedit-sub-wrapper .rpItem {
  overflow: initial;
}
.mx-global-form-wrapper .mx-global-formtabedit-sub-wrapper .form-check label {
  margin-left: 0.5rem;
}

.mx-global-navigationstatus-wrapper ul {
  margin-left: -0.75rem;
}
.mx-global-navigationstatus-wrapper ul li {
  text-align: center;
  margin: 0.75rem;
  margin-bottom: 0;
}
.mx-global-navigationstatus-wrapper ul .nav-item.active {
  border-bottom: solid 3px;
}
.mx-global-navigationstatus-wrapper ul .nav-item.active .nav-link {
  color: inherit;
  background-color: inherit;
}
@media (max-width: 992px) {
  .mx-global-navigationstatus-wrapper ul .nav-link {
    display: none;
  }
  .mx-global-navigationstatus-wrapper ul .nav-item {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-top: 0.75rem;
  }
}
.mx-global-navigationstatus-wrapper .mx-number-count {
  display: inline;
  font-weight: 900;
  border-radius: 1.7rem;
  padding: 0.25rem 0.6rem;
  margin-bottom: 1rem;
  border: 3px solid;
}
.mx-global-navigationstatus-wrapper hr {
  margin-top: 0;
}

.mx-meeting-details-wrapper .mx-image-event-detail {
  object-fit: cover;
  object-position: center;
  height: 200px;
}

.mx-meeting-speakers-wrapper .mx-image-contact {
  max-height: 300px;
  max-width: 100%;
}

.mx-meetingregistration-guestidentification-wrapper .mx-meetingregistration-questions-wrapper .mx-title-wrapper {
  display: none !important;
}
.mx-meetingregistration-guestidentification-wrapper .mx-meetingregistration-selectsessions-wrapper .mx-title-wrapper {
  display: none !important;
}

.mx-meetingregistration-questions-wrapper .form-check {
  padding-left: 0;
  max-width: 95%;
}
.mx-meetingregistration-questions-wrapper .form-check input[type=checkbox] {
  margin-left: 0.5rem;
}

.mx-meetingregistration-registrationsurvey-wrapper .mx-radiobuttonlist.no-rating label {
  display: block;
}
.mx-meetingregistration-registrationsurvey-wrapper .mx-radiobuttonlist br {
  display: none;
}

.mx-membershipapplication-joingroup-wrapper .mx-autocompletebox .racToken {
  padding-right: 5px;
}
.mx-membershipapplication-joingroup-wrapper .mx-autocompletebox .racRemoveTokenLink {
  display: none;
}

.mx-membershipapplication-rates-wrapper .mx-rate-radiobutton input {
  margin-right: 0.5rem;
}
.mx-membershipapplication-rates-wrapper .mx-rate-radiobutton label {
  font-weight: bold;
}

@media (max-width: 768px) {
  .mx-membershipapplication-selectchapter-wrapper .mx-radiobuttonlist td, .mx-membershipapplication-selectchapter-wrapper .mx-checkboxlist td {
    display: block;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .mx-membershipapplication-selectmultiplechapters-wrapper .mx-radiobuttonlist td, .mx-membershipapplication-selectmultiplechapters-wrapper .mx-checkboxlist td {
    display: block;
    margin-right: 0;
  }
}

.mx-security-createnewuseraccount-wrapper .mx-global-form-wrapper {
  margin-bottom: 0;
}
.mx-security-createnewuseraccount-wrapper .mx-global-form-wrapper .mx-multipage {
  margin-bottom: 0;
}
.mx-security-createnewuseraccount-wrapper .mx-global-form-wrapper .mx-panelbar ul.rpRootGroup {
  border: 0;
}
.mx-security-createnewuseraccount-wrapper .mx-global-form-wrapper .mx-panelbar .rpLink {
  display: none;
}
.mx-security-createnewuseraccount-wrapper .mx-global-form-wrapper .mx-panelbar ul.rpGroup {
  padding: 0;
}

.mx-security-welcome-wrapper {
  margin-bottom: 0;
}

.mx-shoppingcart-autopay-wrapper .mx-modeedit-panel .mx-ccpaypallogo-image, .mx-shoppingcart-autopay-wrapper .mx-modeedit-panel .mx-ccbluepaylogo-image, .mx-shoppingcart-autopay-wrapper .mx-modeedit-panel .mx-ccpayvisionlogo-image, .mx-shoppingcart-autopay-wrapper .mx-modeedit-panel .mx-achbluepaylogo-image {
  width: 75px;
}

.mx-shoppingcart-cart-wrapper .mx-sidebar ul li {
  text-align: center;
  margin-bottom: 0;
}
.mx-shoppingcart-cart-wrapper .mx-sidebar ul li a {
  text-transform: uppercase;
}
.mx-shoppingcart-cart-wrapper .mx-sidebar ul .nav-item.active {
  border-bottom: solid 3px;
}
@media (max-width: 992px) {
  .mx-shoppingcart-cart-wrapper .mx-sidebar ul .nav-link {
    display: none;
  }
  .mx-shoppingcart-cart-wrapper .mx-sidebar ul .nav-item {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-top: 0.75rem;
  }
}
.mx-shoppingcart-cart-wrapper .mx-sidebar hr {
  margin-top: 0;
}
.mx-shoppingcart-cart-wrapper .mx-currentitems-span {
  margin-right: 0.25rem;
}
.mx-shoppingcart-cart-wrapper .mx-navigation {
  margin-top: 1rem;
}
.mx-shoppingcart-cart-wrapper .mx-navigation .mx-previous-button {
  float: left;
}
.mx-shoppingcart-cart-wrapper .mx-navigation .mx-next-button,
.mx-shoppingcart-cart-wrapper .mx-navigation .mx-finish-button {
  float: right;
}
.mx-shoppingcart-cart-wrapper .mx-shoppingcart-billing-sub-wrapper .mx-billto-panel {
  margin-bottom: 1rem;
}
.mx-shoppingcart-cart-wrapper .mx-shoppingcart-billing-sub-wrapper .card {
  margin-bottom: 1.5rem;
}
.mx-shoppingcart-cart-wrapper .mx-shoppingcart-billing-sub-wrapper .card .card-title {
  font-weight: bold;
}
.mx-shoppingcart-cart-wrapper .mx-shoppingcart-shipping-sub-wrapper .card {
  margin-bottom: 1.5rem;
}
.mx-shoppingcart-cart-wrapper .mx-shoppingcart-shipping-sub-wrapper .card .card-title {
  font-weight: bold;
}
.mx-shoppingcart-cart-wrapper .mx-shoppingcart-shipping-sub-wrapper .mx-cancellist-button {
  margin-top: 1rem;
}
.mx-shoppingcart-cart-wrapper .mx-shoppingcart-payment-sub-wrapper .mx-yourcreditcards-panel .card {
  cursor: pointer;
}
.mx-shoppingcart-cart-wrapper .mx-shoppingcart-payment-sub-wrapper .mx-ccpaypallogo-image, .mx-shoppingcart-cart-wrapper .mx-shoppingcart-payment-sub-wrapper .mx-ccbluepaylogo-image, .mx-shoppingcart-cart-wrapper .mx-shoppingcart-payment-sub-wrapper .mx-achbluepaylogo-image, .mx-shoppingcart-cart-wrapper .mx-shoppingcart-payment-sub-wrapper .mx-ccpayvisionlogo-image {
  width: 75px;
}
.mx-shoppingcart-cart-wrapper .mx-shoppingcart-payment-sub-wrapper .mx-authorizeautopay-checkbox-label, .mx-shoppingcart-cart-wrapper .mx-shoppingcart-payment-sub-wrapper .mx-savecard-checkbox-label {
  margin-left: 5px;
}

.mx-shoppingcart-installments-wrapper .mx-grid .rgHeader label {
  margin-bottom: 0px;
  margin-left: 10px;
}
.mx-shoppingcart-installments-wrapper .mx-shoppingcart-payment-sub-wrapper .mx-yourcreditcards-panel .card {
  cursor: pointer;
}
.mx-shoppingcart-installments-wrapper .mx-shoppingcart-payment-sub-wrapper .mx-ccpaypallogo-image, .mx-shoppingcart-installments-wrapper .mx-shoppingcart-payment-sub-wrapper .mx-ccbluepaylogo-image, .mx-shoppingcart-installments-wrapper .mx-shoppingcart-payment-sub-wrapper .mx-achbluepaylogo-image, .mx-shoppingcart-installments-wrapper .mx-shoppingcart-payment-sub-wrapper .mx-ccpayvisionlogo-image {
  width: 75px;
}
.mx-shoppingcart-installments-wrapper .mx-shoppingcart-payment-sub-wrapper .mx-authorizeautopay-checkbox-label, .mx-shoppingcart-installments-wrapper .mx-shoppingcart-payment-sub-wrapper .mx-savecard-checkbox-label {
  margin-left: 5px;
}

.mx-shoppingcart-invoices-wrapper .mx-shoppingcart-payment-sub-wrapper .mx-yourcreditcards-panel .card {
  cursor: pointer;
}
.mx-shoppingcart-invoices-wrapper .mx-shoppingcart-payment-sub-wrapper .mx-ccpaypallogo-image, .mx-shoppingcart-invoices-wrapper .mx-shoppingcart-payment-sub-wrapper .mx-ccbluepaylogo-image, .mx-shoppingcart-invoices-wrapper .mx-shoppingcart-payment-sub-wrapper .mx-achbluepaylogo-image, .mx-shoppingcart-invoices-wrapper .mx-shoppingcart-payment-sub-wrapper .mx-ccpayvisionlogo-image {
  width: 75px;
}
.mx-shoppingcart-invoices-wrapper .mx-shoppingcart-payment-sub-wrapper .mx-authorizeautopay-checkbox-label, .mx-shoppingcart-invoices-wrapper .mx-shoppingcart-payment-sub-wrapper .mx-savecard-checkbox-label {
  margin-left: 5px;
}

.mx-shoppingcart-summary-wrapper {
  margin-bottom: 0;
}
.mx-shoppingcart-summary-wrapper .mx-icon-panel .mx-itemscount-span {
  position: absolute;
  right: 10%;
  top: 9%;
  font-size: 40%;
  padding: 0.5em;
  border-radius: 50%;
  line-height: 0.5em;
  text-align: center;
  min-width: 1em;
}
@media (min-width: 992px) {
  .mx-shoppingcart-summary-wrapper .mx-icon-panel span {
    font-size: 2em;
  }
}
