@import url('https://fonts.googleapis.com/css?family=Open Sans:400,600,700,800&display=swap');

/*
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    primary: #87be42;
    secondary: #5d6268;
    light: #eee;
    dark: #343a40;
    success: #28a745;
    info: #bdcdd1;
    warning: #ffc107;
    danger: #dc3545;
*/

/*
##################################################################
    SITE
##################################################################
*/

html {
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;

}

.nav-secondary{
    color:#333; 
}

.nav-secondary:hover {
    background-color: #1e3c72;
    color: #fff;
}

.nav-secondary.active {
    background-color: #63bb4d;
    color: #fff;
}

.nav-link-secondary {
    color: #333;
}

/*site blocked*/

/*
html {
    background-color: #343a40;
}

body {
    max-width: 1200px;
    background-color: #fff;
    margin: 0 auto;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
}
*/

/*header images*/

/*
header {
    background-position: center center;
    background-size: cover;    
}

nav {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%) !important;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%) !important;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%) !important; 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
}

nav.bg-light,
.home-header.bg-primary,
.page-title.bg-primary.page-title-myaccount,
.page-title.bg-primary.page-title-membership,
.page-title.bg-primary.page-title-getinvolved,
.page-title.bg-primary.page-title-directories,
.page-title.bg-primary.page-title-events,
.page-title.bg-primary.page-title-shop,
.page-title.bg-primary.page-title-security {
    background-color: transparent !important;
}

nav .navbar-nav .nav-link {
    color: rgba(255,255,255,.5) !important;   
}

nav .navbar-nav .active>.nav-link {
    color: #fff !important;   
}

.navbar-toggler-icon {
  background-image: url("data:image/svg xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important; 
}

.header-home {
    background-image: url('assets/images/home-splash.jpg');
}

.header-myaccount {
    background-image: url('assets/images/myaccount.jpg');
}

.header-membership {
    background-image: url('assets/images/membership.jpg');
}

.header-getinvolved {
    background-image: url('assets/images/getinvolved.jpg');
}

.header-directories {
    background-image: url('assets/images/directories.jpg');
}

.header-events {
    background-image: url('assets/images/events.jpg');
}

.header-shop {
    background-image: url('assets/images/shop.jpg');
}

.header-security {
    background-image: url('assets/images/security.jpg');
}
*/

/*page title images*/
.page-title > h1{
/*display:block;
    position:relative;
    top:50px;*/

}

.home-header {
    background-image: url('assets/images/rice-background.jpg');
    /*position: relative;
    bottom: 100px!important;
    min-height: 64vh!important;
    z-index: -10;*/
    
}

/*panes or zones*/

.home-pane-fullwidthbottom,
.pane-fullwidth-myaccount-myprofile,
.pane-fullwidth-myaccount-mycompany,
.pane-contentpane-myaccount-mycompany-relatedcontacts,
.pane-fullwidth-directories-boardofdirectors {
    background-color: #eee;
}

.pane-pagetitle {
 
}

/*icons*/

/*
.icon-myprofile:before { content: "\f007"; }
*/

/*
##################################################################
    BOOTSTRAP
##################################################################
*/

/*layout*/

.container{
	
}

/*text*/

h2{
	font-weight:bold;
}

a, a:active, a:visited{ 
  color:#1E3C72;
}


a:hover, a:focus {
    color: #1952b9;
}


.text-primary a:hover{
	color:#343a40;
}

.text-primary{
	color:#1E3C72 !important;
}

.text-secondary{
	color:#5d6268 !important;
}

/*buttons*/

.btn {
    padding: 0.7rem 0.9rem;
    border-radius: unset!important;
}

.btn-sm {
    border-radius: 1.7rem;
    padding: 0.5rem 0.6rem;
}

.btn-block{
 	border-radius: 0.25rem;
 	height:5rem;
}

.btn-primary{
	background: #1E3C72;
	border-color:#1E3C72;
}

.btn-primary:hover{
    background:#429ecc!important;
  	color: #1E3C72;
  	border-color:#429ecc!important;
}

.btn-primary.mx-addnewaddress-button.btn.btn-light.btn-lg.btn-block.text-muted.mt-3:hover{
    color:white!important;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active{
	background-color:#87be42;
  	border-color: #1E3C72;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #1E3C72;
    background-color: #87be42;
    border-color: #1E3C72;
}

a:visited.btn-primary{
  	color: #1E3C72;
}

a:visited.btn-primary:hover{
  	color: #1E3C72;
}

.btn-secondary{
  	background: #5d6268;
  	border-color:#5d6268;
}

.btn-secondary:hover{
  	background: #fff;
  	color: #5d6268;
  	border-color:#5d6268;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active{
  	background: #5d6268;
  	border-color:#5d6268;
}

a:visited.btn-secondary{
  	color: #fff;
}

a:visited.btn-secondary:hover{
  	color: #5d6268;
}

.btn-link{
 	color:#1E3C72;
}

.btn-link:hover{
  	color:#5d6268;
  	text-decoration:none;
}

.btn-light{
  	background: #eee;
  	color: #343a40;
  	border-color:#eee;
}

.btn-light:hover{
  	background: #343a40;
  	color: #eee;
  	border-color:#eee;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active{
  	background: #eee;
  	color: #343a40;
  	border-color:#eee;
}

.btn-outline-primary{
  	color:#1E3C72;
  	border-color: #1E3C72;
}

.btn-outline-primary:hover{
    background-color:#1E3C72;
  	border-color:#1E3C72;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active{
  	color: #1E3C72;
  	border-color: #1E3C72;
    background-color: transparent;
}

a:visited.btn-outline-primary{
  	color: #1E3C72;
}

a:visited.btn-outline-primary:hover{
  	color: #fff;
}

.btn-outline-secondary{
  	color: #5d6268;
  	border-color:#5d6268;
}

.btn-outline-secondary:hover{
    background-color:#5d6268;
  	border-color:#5d6268;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active{
  	color: #5d6268;
  	border-color:#5d6268;
    background-color: transparent;
}

a:visited.btn-outline-secondary{
  	color: #5d6268;
}

a:visited.btn-outline-secondary:hover{
  	color: #fff;
}

.btn-dark{
  	background: #343a40;
  	color: #eee;
  	border-color:#343a40;
}

.btn-dark:hover{
  	background: #eee;
  	color: #343a40;
  	border-color:#eee;
}

/*nav*/

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #343a40;
    background-color: #fff ;
}

.nav-pills .nav-link {
    border-radius: 0rem;   
}

.nav-link{
     color:#1E3C72;
     font-size: 17px!important
}

.nav-link.active:hover{
 	color:#1E3C72;
}

.nav-item.active {
 	color:#1E3C72;
    
}
.nav-item.active > a.nav-link{
    border-bottom: 3px solid #1E3C72;
}

.nav-item > a.nav-link{
    font-weight: 700!important;
}

.nav-item {
     color:#1E3C72!important;
     font-weight:700;
   
}

nav{
    z-index:9;
    max-height:50px!important;
    text-align: center!important;
    font-weight:700;
    
 
}
nav  a{
    color:#1E3C72!important;
    font-family: 'Open Sans', sans-serif!important;

}
nav  a:link{
    color:#1E3C72;

}
nav  a:visited{
    color:white;
    

}

/*dropdowns*/

.dropdown-item.active, .dropdown-item:active {
	background-color:#1E3C72;
}
.footer-social__icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: 30px;
    background: transparent url(/Portals/0/assets/images/icons-social.png) no-repeat 0 0;
    background-size: 7em 1em;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0.85;
}

/*pagination*/

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > li {
    display: inline;
}

.pagination > li > a, .pagination > li > span, .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
    border: 1px  solid #1E3C72;
    color: #1E3C72;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #1E3C72;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #1E3C72;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
}

.page-item:last-child .page-link {
    margin-left: -1px;
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
}

.page-item.active .page-link{
	background: #1E3C72 ;
	border: 1px  solid #1E3C72 ;
}

.page-item.disabled .page-link{
	background: #fff ;
	border: 1px  solid #1E3C72 ;
	color: #eee;
}

.page-link:hover{
	background: #1E3C72 ;
	border: 1px  solid #1E3C72 ;
	color: #fff; 
}

.page-item:last-child:hover .page-link:hover {
    background: #1E3C72 ;
	border: 1px  solid #1E3C72 ;
	color: #fff;
}

.page-item:first-child:hover .page-link:hover {
    background: #1E3C72 ;
	border: 1px  solid #1E3C72 ;
	color: #fff;
}

/*tables*/

.table-primary, .table-primary > td, .table-primary > th {
    background-color: #1E3C72;
    color: #fff
}

.table-secondary, .table-secondary > td, .table-secondary > th {
    background-color: #eee;
}

/*lists*/ 

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

/*alerts*/

.alert-primary{
    background-color: #1E3C72;
    opacity:0.6;
    border-color: #1E3C72;
    color: #000;
}

.alert-info {
    color: #333;
    background-color: #bdcdd1;
    border-color: #bdcdd1;
}

.alert-primary a, .alert-info a {
    color: #343a40 ;
}

.alert-success {
    color: #fff;
    background-color: #1E3C72;
    border-color: #1E3C72;
}

.alert-success a {
    color: #fff ;
}

/*forms*/

.form-control {
    padding: 0.9rem 1rem;  
    height: calc(3.25rem   2px); 
}

/*badges*/

.badge-primary{
 	background:#1E3C72;
}

.badge-secondary{
 	background:#5d6268;
}

/*backgrounds & borders*/

.bg-primary{
    background-color:#f7f4eb;
    z-index: -1;
}

.bg-secondary{
 	background-color: #5d6268 !important;
}

.bg-light{
     background-color: #f7f4eb !important;
     z-index: 8;
}

.bg-dark{
 	background-color: #343a40 !important;
}

.border-primary{
    border-color:#1E3C72 !important;
}

.border-dark{
    border-color:#343a40 !important;
}

/*cards*/

.card-footer {
    background-color: #fff;
}

.card-body {
    padding: 1.25rem, 1.25rem, 1.25rem, 0.25rem !important;
}
.bg-gradient {
 
     background:unset; 
     background: unset;
 
}
.site-logo img {
    max-width:175px;
    width: 175px;
    height: auto;
    position: relative;
  
}


.green-button{
    display:inline-block;

    background-color:#63bb4d!important;
    text-align:center;
    z-index: 12;

}
.blue-button{
    display:inline-block;
    
    background-color:#1952b9!important;
    text-align:center;
    z-index: 12;
  
}
.red-button{
    display: inline-block;
    
    background-color:#A81d35!important;
    text-align:center;
    z-index: 12;
    
}


ul.navbar-nav > li.nav-item  {
    padding-top:3.5%;
   }
   
   
   ul.navbar-nav {
       height: 100px;
   }

@media (max-width: 992px) {
	.nav-pills .nav-link {
    	display: none;
	}

	.navbar-toggler {
	    border:none;	
	}
	
	
}
.footer-content{
    background: #fff;
    height:280px!important;
    box-shadow: grey -5px 1px 7px;
 
}
.header{
    height:412px!important;
}
.page-title{
    background-image: url('assets/images/placeholder-interior-banner.png');
   /* position: relative;
    bottom: 100px;*/
    z-index: -10;
    min-height: 31vh;
    box-shadow: grey 5px 5px 10px;
}


select#locationList, select#ricetypeList, select#productList{
    min-width:14vw;
    font-size:14px!important;
    font-weight:600!important;
    padding: 10px;
    border: solid #f7f7f7 thin!important;
    position: relative;
    /* top:30px; */
    /* left:20px; */
}
/*#dnn_ctr495_CreateNewUserAccount_ctl00_Title_text{
    visibility: hidden;*/
}

.side-menu {
    font-size: 20px;
    color: #499227!important;
    font-weight: bold;
    }
.side-menu:hover {
    color: #1952b9!important;
    }


.footer-content > div > div{
    min-height: 1px;
     padding-right: 0px; 
    padding-left: 0px;
}
.footer-logo > .site-logo {
    position: relative;
    left: 30px;
}
.footerlinks{
    font-family: 'Open Sans', sans-serif;
    padding: 30px;
    font-weight: 700;
}

.footer-social__icon--facebook {
    background-position: 0 0;
}
.footer-social__icon--twitter {
    background-position: -1em 0;
}
.footer-social__icon--youtube {
    background-position: -2em 0;
}
.footer-social__icon--instagram {
    background-position: -3em 0;
}
.footer-social__icon--pinterest {
    background-position: -4em 0;
}
.footer-social__icon--google {
    background-position: -5em 0;
}
.footer-social__icon--linkedin {
    background-position: -6em 0;
}

.mx-title-wrapper > h3{
 
    font-size: 30px!important;
    line-height: 64px!important;
    font-weight: 300!important;
    color: #1f293c!important;
    font-family: 'Open Sans', sans-serif!important;

}

.nav-background-color{
background-color: #00000075;
}
.navbar-collapse.collapse.justify-content-end.dual-collapse2 {
    margin-right:20%;
}
.navbar-collapse.collapse.justify-content-end.dual-collapse2 a:link {
    color:white!important;
}
.navbar-collapse.collapse.justify-content-end.dual-collapse2 a:visited {
    color:white!important;
}
@media (min-width: 1280px){
.directory-select-div {
    max-width:unset;
}
}


/* Suppliers directory */
.mx-directory-area .GlobalFind_MXDefault {
	padding:0px;
}
[class~="sf_colsOut"]:not(.grid__unit):not([class*="interior-layout"]) {
    padding-right: 0px !important;
    padding-bottom: 12px !important;
}
.directory-select-div {
    display: inline-block;
    width: 100%;
    max-width: 100%;
}
.directory-select-label {
    /* margin-left: 6px; */
    font-size: 12px;
    font-weight:600;
    display: none;
}
.directory-label-span {
	display: inline-block;
    width: 53px;
}
nav .btn{
    font-weight:700!important;
    position: relative;
    bottom: 11px;
    padding-bottom: 17px;

}
.navbar-nav > .nav-item > a:hover{
    color: #499227!important;
}




.new-search-a {
	color: black!important;
	font-size: 14px;
    padding: 6px;
    padding-left: 46px;
    padding-right: 15px;
    border: 1px solid #cfbbbb;
    background-color: #f2f2f2!important;
    background-image: url(assets/images/button-bg-yellow.png)!important;
    background-repeat: no-repeat!important;
    background-size: 42px!important;
    background-position-y: center!important;
    vertical-align:top;
    display:inline-block;

}
.new-search-a-services {
	color: green!important;
	font-size: 14px;
	font-weight: bold;
    padding: 6px;
    padding-left: 46px;
    padding-right: 35px;
    border: 1px solid #cfbbbb;
    background-color: #f2f2f2!important;
    background-image: url(assets/images/button-bg-yellow.png)!important;
    background-repeat: no-repeat!important;
    background-size: 42px!important;
    background-position-y: center!important;
    vertical-align:top;
    display:inline-block;
    position: relative;
    top: 10px;
}
.new-search-a:hover {
    box-shadow: 0px 2px 1px #c0c0c0;
    color: black;
    border-color: black;
    background-color:tan!important;
}
.print-icon-a {
    width: 40px;
    height: 40px;
    background-color: white!important;
    background-repeat: no-repeat!important;
    border: 1px solid transparent!important;
    padding: 0px;
    border-radius: 20px;
    background-position: center!important;
    transition: ease-in .3s;
    display: inline-block;
    vertical-align:top;
    color:black;
}
.btn-info{
    background-color:#64BA4D!important;
}

.btn-primary:hover {
    background-color: #1E3C72;
    color: white;
    border-color: #1E3C72;
}

.fas.fa-print{
    font-size:16px;
    margin-top:10px;
    left: 12px;
    position: relative;
}
a.print-icon-a.btn-circle-sm.btn-primary {
    background-color:#f2f2f2;
}
.btn-circle-sm{
    border:#aca2a2;;
}
.print-icon-a:hover {
  
	opacity:.9;
}



.MXDefault h3 {
    border-bottom: 1px solid #1f293c!important;
    text-align: center;
}
.directory-result-div {
    border: solid thin #bbb;
    background-color:#f7f4eb;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-bottom: 25px;
}
.fade-area .processing-image {
    display: block;
}
.fade-area .MXDefault h3, .fade-area .search-form-suppliers, .fade-area .directory-result-div {
	opacity:.3;
}
.directory-name {
	font-size: 26px;
    line-height: 34px;
    padding-bottom: 11px;
}
.directory-address, .directory-phone-web, .rice-types-per-account-div, .rice-products-per-account-div {
    padding: 4px;
    padding-left: 0px;
    vertical-align: top;
    min-width: 250px;
    font-size: 15px!important;
    margin-right:20px;
    margin-bottom:15px;
}
.rice-products-per-account-div {
	margin-right:0px;
}
.directory-address {
	margin-bottom:0px;
}
.directory-address a {
	font-weight: 600;
    color: #499227!important;
}
.directory-address a:hover {
	color: #555555!important;
	display: inline-block;
    border-radius: 6px;
    background-color: rgba(99, 187, 77, 0.25)!important;
}
.directory-address, .directory-phone-web {
	display:block;
}
.directory-phone-web a {
	color: #499227!important;
}
.directory-phone-web a:hover {
	color: #555555!important;
}
.no-records-found {
	border:1px solid #c0c0c0;
	border-radius:4px;
	background-color:#f2f2f2;
	font-size:20px;
	line-height:26px;
	text-align:center;
	padding:20px;
	margin:20px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	width:90%;
}
.rice-section-header {
	display:none;
    font-weight: 700;
    border-bottom: 1px dotted #c0c0c0;
    margin-bottom: 2px;
    padding-bottom: 2px;
    width: 80%;
    font-size: 13px;
}
.mx-supporting-mx-finds .GlobalFind_MXDefault {
	padding:0px;
}
.make-bold-red {
	font-weight:900;
}
.MXDefault select {
    /* border: 1px solid #0581cb; */
    padding: 4px 5px;
    line-height: 1.5;
    background: #fff;
    font: 11px Arial, Helvetica, sans-serif;
    float: left;
    margin: 2px 2px 2px 2px;
    width: 100%;
    min-width: 180px;
    max-width: 240px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.icon-calendarofevents::before{
    color:#3394C5!important;
}
i.fas.fa-3x.fa-leaf{
    color: #499227!important;
}
.fa-search{
    color:#A8243C!important;
}

.icon-myusaricepac::before{
    content:"\f2b5";
}
.icon-conservationsearch::before{
    content:"\f06c";
}
.icon-mycommittees::before{
    content:"\f0c0";
}
.icon-memberdocuments::before{
    content:"\f07c";
}
.icon-boards::before{
    content:"\f508";
}
.icon-committees::before{
    content:"\f0c0";
}
.icon-subcommittees::before{
    content:"\f007";
}
.icon-workinggroupstaskforces::before{
    content:"\f4c4";
}

.address-link-a{
    font-size:15px!important;
    
}
.directory-address-phone{
    font-size:15px!important;
}
.home-title, .home-subtitle{
    display: none!important;
}
.mx-items-panel.card-deck{
    -ms-flex-flow: column;
    flex-flow: column;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
    top: 50px;


}
.social-media{
    padding-right:10%;
}



a.address-link-a:link, a.directory-company-website-link:link{
    color: #63bb4d;
    font-weight:700;
}
a.address-link-a:link:hover {
    background-color: #63bb4d90;
    color:black;
    transition:.5s;
    
}

div#dnn_ctr720_ProductListing_ctl00_uscFind_lstRecords_pnlItems .mx-global-find-wrapper .mx-items-panel .card  {
    min-height: 120px!important;
}

i.fa.fa-shopping-cart.fa-stack-1x.fa-xs.text-dark{
    color:#1E3C72!important;
    position: relative;
    bottom:10px;
}
.mx-itemscount-span.bg-primary{
 background-color:white!important;
 color:black!important;
}
.mx-itemscount-span.bg-primary.text-white{
    background-color:#A81D35!important;
	color:white!important;
}
/*.navbar.navbar-expand-lg.navbar-light.bg-light > .row {
   
    margin-right: 15%;
}*/


a#dnn_ctl09_dnnLogin_enhancedLoginLink, a#dnn_ctl02_dnnLogin_enhancedLoginLink {
    color:white!important;
    background:#1952B9!important;
    padding:15px;

}
a#dnn_ctl09_dnnNewUser_registerLink{
    color:white!important;
}
.navbar {
    box-shadow: none;
 
}




.page-item.disabled .page-link {
   color: #1E3C72!important;
}
a.btn.btn-danger.text-light.d-inline-block {
    font-size: 700!important;
}
#dnn_TwoCol2Bottom {
    max-width:30%;
}
nav.navbar.navbar-expand-md {
    /* background: 0000000; */
    background-color: #00000075;
    background-image: url(assets/images/placeholder-interior-banner-dark-filter.png);
}
.nav-item > a.nav-link {
    color: white;
}
.footer-font{
    font-size: 19px;
}


@media (min-width: 1000px) {
    a.btn.btn-info.text-light.pt-3 {
        margin-right: 15px;
        position: relative;
        right: 20%; 
    }
    .d-inline {
        position: relative;
        right: 20%;
    }
    a.btn.usa-rice.text-light.pt-3 {
        position: relative;
        right: 20%;
    }
}
@media (min-width: 700px) {
    a.btn.btn-info.text-light.pt-3 {
        margin-right: 15px;
    }
}
.nav-item > a > i.fas.fa-search {
    color:white;
    font-weight:700;
}
a#dnn_ctl04_dnnLogin_enhancedLoginLink {
    background-color:#1952b9;
}

a#dnn_ctl04_dnnLogin_enhancedLoginLink:hover {
    background:#429ecc!important;

}

.form-control, .mx-username-textbox, #dnn_ctr773_SignIn_ctl00_txtUsername{
    background-color:#F7F4EB!important;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #64BA4D!important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem  #64BA4D!important;
}
.form-control.mx-phone-textbox {
    padding-left: 75px !important;
}
.input-group-append > a:link{
    color:white!important;
}

.mx-image-product{

    height:auto!important;
}
a#dnn_ctr1163_ProductListing_ctl00_uscFind_lstRecords_ctrl0_ctl00_uscAddToCart_lnkAdd:link{
    color:white!important;
}
a#dnn_ctr1163_ProductListing_ctl00_uscFind_lstRecords_ctrl0_ctl00_uscAddToCart_lnkAdd:hover{
    color:white!important;
}
a#dnn_ctr1163_ProductListing_ctl00_uscFind_lstRecords_ctrl0_ctl00_uscAddToCart_lnkAdd:visited{
    color:white!important;
}

a#dnn_ctr1163_ProductListing_ctl00_uscFind_lstRecords_ctrl0_ctl00_uscAddToCart_lnkAdd {
    color: white!important;
}
.btn.btn-info.text-light.d-inline-block{
    color: white!important;
    padding:20px;
}

a:not([href]):not([tabindex]) {
    color: white!important;
    text-decoration: none;
}

.btn-danger {
    color: #fff;
    background-color: #A81E35!important;
    border-color: #A81E35!important;
}


.navbar {
    height: 100px;
}
.navbar-nav.navbar.text-white.d-inline-block.justify-content-end {
    width: 79%;
}

.mx-title-wrapper > h2{
    
}
a.rice-shop:link{
    color:white!important;
}
a.rice-shop:visited{
    color:white!important;
}
a#dnn_ctl02_dnnNewUser_registerLink:link{
    color:white!important;
}
a#dnn_ctl02_dnnNewUser_registerLink:visited{
    color:white!important;
}
.container{
    z-index:999999;

}

div#searchFormSuppliers > .row{
    opacity: 1!important;
  
}

a#dnn_ctl03_dnnLogin_enhancedLoginLink  {
    color:white!important;
    background:#1952b9!important;
  
}
a#dnn_ctl12_dnnLogin_enhancedLoginLink{
    color:white!important;
    background:#1952b9!important;
   
}
a#dnn_ctl05_dnnLogin_enhancedLoginLink {
    color:white!important;
    background:#1952B9!important;
}
#dnn_ctl06_dnnLogin_enhancedLoginLink {
    color:white!important;
    background:#1952B9!important ;
  
}
a#dnn_ctl07_dnnLogin_enhancedLoginLink{
    color:white!important;
    background:#1952B9!important;
  
}
/*login hovers*/
a#dnn_ctl03_dnnLogin_enhancedLoginLink:hover  {
   
    background:#429ecc!important;
  
}
a#dnn_ctl12_dnnLogin_enhancedLoginLink:hover{
   
    background:#429ecc!important;
   
}
a#dnn_ctl05_dnnLogin_enhancedLoginLink:hover {
    
    background:#429ecc!important;
}
#dnn_ctl06_dnnLogin_enhancedLoginLink:hover {
   
    background:#429ecc!important ;
  
}
a#dnn_ctl07_dnnLogin_enhancedLoginLink:hover{
   
    background:#429ecc!important;
  
}
/*------------------------------------*/

#dnn_ctl03_dnnNewUser_registerLink:link{
    color:white!important;
}
#dnn_ctl03_dnnNewUser_registerLink:visited{
    color:white!important;
}
.navbar-collapse.collapse.show{
    background: #f7f4eb!important;
padding-bottom: 20px;
}
.uas-rice:link, .usa-rice:visited{
    color:white!important;
}
div#dnn_ctr1569_ContentPane .py-3 {
    padding-bottom: 0px!important;
}

.search-form-suppliers {
  
    margin-bottom: 20px;
}

.footerlinks {
    display: none;
}
.pane-threecol.pane-threecol-ricesupplierdirectory{
    height:0px;
}
/*h3#dnn_ctr773_SignIn_ctl00_Title_text {
   visibility: hidden;
}*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/

/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/

@media(min-width:1400px){
  
    .footer-content{
        background: #fff url(assets/images/footer-bg.jpg) no-repeat 120% 100%;
    }
    .nav-item {
        margin-right: 2.25em;
    }
    .navbar-nav.navbar.text-white.d-inline-block.justify-content-end {
        width: 89%;
    }
    a.new-search-a {
        left: 20px;
        position: relative;
       
    }
    .footer-font {
        font-size: 17px;
    }
    
.search-form-suppliers {
     height: 12vh;
}
.actions-div {
        position: relative;
        top: 0px;
        left: 1%!important;
        margin-left:0px;
    

}
.pane-contentpane.pane-contentpane-boardscommittees {
   
}
a#dnn_ctl02_dnnLogin_enhancedLoginLink {
    color: white!important;
    background: #1952b9!important;
    padding: 13px;
}
.page-title {
    min-height: 35vh;
}
div#dnn_ctr1163_ProductListing_ctl00_uscFind_lstRecords_pnlItems .card{

}
}

@media (max-width:1400px){
    .navbar-nav.navbar.text-white.d-inline-block.justify-content-end {
        width: 82%;
    }
    .navbar.navbar-expand-lg.justify-content-center.navbar-light.bg-light > .row{
        flex-wrap: nowrap;
        width:100%;
    }
   
    a.nav-link {
        font-size: 14px!important;
    }
   
   
   
   

}
@media(max-width:1200px){
    .site-logo img {
        max-width: 114px;
        width: 175px;
        height: auto;
        top: 8px;
    
        }
    
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
        font-size: 3px;
   
    }
    .navbar-light .navbar-nav .nav-link {
    
        font-size: 14px;
    }
#dnn_ctr1581_Find_ctl00_lstRecords_pnlItems{
  
}    


div#dnn_ctr1163_ModuleContent {
   
    
}
div#dnn_ctr1581_Find_ctl00_lstRecords_pnlItems {
    
}
}

@media (max-width:1000px){

    .navbar-light .navbar-nav .nav-link {
        font-size: 14px!important;
    }

    ul.navbar-nav {
      
        background-color:#F7F4EB;
        display: inline-block;
    }
    .navbar.navbar-expand-lg.navbar-light.bg-light > .row {
        width: 100%;
    }

    .print-div.d-inline-block {
        display: none!important;
    }
    
    #dnn_ctl03_lblShoppingCartSummaryMobile{
    position: relative;
    left: 42%;
    top: 30%;
}
.footer-content{
 
    background-image:none!important;
}



}
@media (min-width: 1200px){
    .navbar-brand.site-logo {
        top: 0px!important;
    }

   
.navbar {
    height: 100px!important;
}

 
    .footer-social__icon {
        margin-right: 5px!important;
    }
    .footerlinks {
        display: inline-block;
    }
    .footer-font {
        font-size: 14px;
    }
    a#dnn_ctl02_dnnLogin_enhancedLoginLink {
    
        padding: 13px;
    }
    .page-title {
        min-height: 31vh;
    }
    .search-form-suppliers {
        height:12vh;
        background-color: #f7f4eb;
    
    }
    .actions-div {
    
            position: relative;
            top: 0px;
            left: 1%;
            margin-left:0px;
        
    }
  
    
    
    .footer-social{
        height:100px;
        background: #f7f4eb;
    }
  
    .nav-item:hover{
        background-color:white!important;
        transition:.25s;
    }
    .navbar-brand.site-logo {
        bottom: 10px;
        position: relative;
       
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 17px;
    }
   header {
    /*height: 382px;*/
   }
  





}

@media (min-width: 1000px){

.page-title.bg-primary.text-light.page-title-industryservicesdirectory, .page-title.bg-primary.text-light.page-title-ricesupplierdirectory {
        min-height:29vh;
    }

.new-search-a {
    left: 0px!important;
    bottom: 9px;
}

    a.btn.btn-info.text-light.pt-3 {
        padding: 18px;
    }
    select#locationList, select#ricetypeList, select#productList {
        /* min-width: 16vw; */
    }
    .page-title.bg-primary.text-light.page-title-usariceshop {
        min-height: 35vh;
    }
    .row-fluid.footer-social {
        
        padding: 29px;
      
    }
   
    .page-title > h1{
        top: 75px;
    }    
        .navbar-brand.site-logo {
            top: 2px;
            position: relative;
        }
        .footer-font {
            font-size: 14px;
        }
 
    .site-logo img {
      
            top: 19px;
        
    }
    .footer-social__icon {

        margin-right: 40px;
    }
    .pane-fullwidth.pane-fullwidth-usariceshop-productdetails {
       
    }
 

}





@media (min-width: 768px){
    select#locationList {
        position: relative;
        top:20px!important;


    }

    select#ricetypeList {
        top: 20px;
        position: relative;
    }
    select#productList {
        position: relative;
        left: 40px;
        top: 20px;
    }
    .actions-div {
        position: relative;
        top: 15px!important;
       
    }
    .new-search-div.d-inline-block {
     
        top: 11px!important;
        position: relative;
    }

    .navbar {
        height: 100px;
    }
 

  
    .directory-select-div.rice-type-div {
        position: relative;
        /* left: 1%; */
        /* bottom:17px; */
    }

    .new-search-a {
      
       
        bottom: 9px;
    }

    .pane-fullwidth.pane-fullwidth-usariceshop-productdetails {
        
    }

    .site-logo {
        margin-left: 0px; 
    }
    .navbar-expand-md .navbar-nav {
        position: relative;
        left: 15%;
    }
    .navbar-nav.navbar.text-white.d-inline-block.justify-content-end {
        width: 66%;
       
    }

    .footer-social__icon {
       
        margin-right: 8%;
    }
    .footer-content {
    
            box-shadow: none;
            margin-top: 35px;
        }
    

  
    .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
    }
  
    .nav-item:hover{
        background-color:white!important;
        transition:.25s;
    }
    .new-search-a {
        font-size: 15px;
        padding: 7px;
        padding: 7px;
        padding-left: 50px;
        padding-right: -6px;
        position: relative;
        
    }

    select#locationList, select#ricetypeList, select#productList {
       
/* font-weight: 600!important; */
       
/* padding: 8px; */
       
/* border: solid #f7f7f7 thin!important; */
}





.actions-div {
    position: relative;
    
}
.actions-div-services > .print-div.d-inline-block {
    position: relative;
    left: 5%;
    top:20px;

}
.site-logo img {
    top: 10px;
}
.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 3px;
   
    flex-wrap: nowrap;

}

}
@media(min-width:400px){

select#productList {
    position: relative;
     left: 0px!important;
}
.actions-div {
    position: relative;
    top: 40px;
    
}
}
@media(max-width:600px){

    .btn.usa-rice.text-light.d-inline-block{
display:block;
    }
.search-form-suppliers {
    height: 24vh;
    background-color: #f7f4eb;

 }
 .site-logo img {
   
    top: 0px;
}
  

select#locationList, select#ricetypeList, select#productList{
    min-width:71vw;

}

select#locationList, select#ricetypeList, select#productList {
    
    width: 89%;
}
.search-form-suppliers{
    height: 31vh!important;
}


.offset-2{
    margin-left: 0px!important;
}
.footer-content{
    background:none!important;
}

.footer-logo{
    padding-left:40%!important;
    padding-bottom:30px;
}
.site-logo img {
    /* max-width: 103px; */
    width: 110px;
    height: auto;
}
.footer-font{
    text-align:center;
}
.footer-center{
    text-align:center;
}
.footer-content{
    box-shadow:none!important;
}
ul.navbar-nav {
    height: 200px;
    background-color:#F7F4EB;
}
.navbar {
    height: 67px!important;
   
}
.navbar.navbar-expand-lg.justify-content-center.navbar-light.bg-light > .row{
    width:100%;
}
.mx.mx-wrapper.mx-shoppingcart-summary-wrapper.d-inline-block {
        position: relative;
        left: 76px;
        top: 17px;
}
#dnn_ctl03_lblShoppingCartSummaryMobile {
    position: relative;
    left: 0%;
    top: 0%;
}

.navbar-nav.navbar.text-white.d-inline-block.justify-content-end {
  
    width:100%;

}
a.btn.text-light.d-inline-block {
   
    color: white!important;
    padding: 13px;
    bottom:30px;
}
.rice-shop{
    display:none!important;
}
.navbar-nav.navbar.text-white.d-inline-block.justify-content-end {
    width: 100%;
}
ul.navbar-nav {
    padding-left:15%;
    padding-right:15%;

}

.new-search-div.d-inline-block {
 
    position: relative;
    

}
.print-div.d-inline-block {
    position: relative;
    bottom: 16px;
    left: 15%;
 
    top: -17px;
   
}
a.btn.text-light.d-inline-block {
   
        position: relative;
        bottom: 31px;
        padding: 17px!important;
    
}
#recordCountDisplay{
    position: relative;
    bottom: 10px;
    left: 2%;
}

.directory-select-div.co-product-div {
    position: relative;
    top: 12px;
   


}
    .directory-select-div {
        z-index: 20;
        position: relative;
        
    }
    .directory-select-div.location-div {
        z-index: 25;
        bottom:7px;
    }
    .actions-div-services {
        position: relative;
        left: 42%;
        top:20px;
        z-index: 25;
    }
    .directory-select-div.rice-type-div.col-lg-4.col-sm-12 {
        position: relative;
        bottom: 12px;
    }
  

}
@media(max-width:767px){

    .navbar-expand-lg .navbar-nav {
        display: block;
    }

    .navbar.navbar-expand-lg.justify-content-center.navbar-light.bg-light > .row {
       flex-wrap: wrap;
    }
}

@media(max-width:600px){
  
    .print-div.d-inline-block{
      display:none!important;
    }
    .pane-twocol.pane-twocol-security-signin {
        position: relative;
        bottom: 100px;
    }


}
@media(max-width:300px){
    a#dnn_ctl12_dnnLogin_enhancedLoginLink{
        
        padding: 14px;
        position: relative;
        bottom: 25px;
        left: 40px;

    }

    a#dnn_ctl02_dnnLogin_enhancedLoginLink {
        padding: 14px;
        position: relative;
        bottom: 25px;
        left: 40px;
    }
    a#dnn_ctl04_dnnLogin_enhancedLoginLink {
        padding: 14px;
        position: relative;
        bottom: 25px;
        left: 40px;
    }

    a#dnn_ctl03_dnnLogin_enhancedLoginLink  {
      
        padding: 14px;
        position: relative;
        bottom: 25px;
        left: 40px;
    }
    a#dnn_ctl05_dnnLogin_enhancedLoginLink {
        
        padding: 14px;
        position: relative;
        bottom: 25px;
        left: 40px;
    }
    a#dnn_ctl06_dnnLogin_enhancedLoginLink {
     
        padding: 14px;
        position: relative;
        bottom: 25px;
        left: 40px;
    }
    a#dnn_ctl07_dnnLogin_enhancedLoginLink{
        padding: 14px;
        position: relative;
        bottom: 25px;
        left: 40px;
    }
    a.btn.usa-rice.text-light.d-inline-block {
        position: relative;
        bottom: 25px;
        left: 40px;
    }
    
    #dnn_ctl03_dnnNewUser_registerLink:link{
        color:white!important;
    }
    #dnn_ctl03_dnnNewUser_registerLink:visited{
        color:white!important;
    
}
.navbar.navbar-expand-lg.justify-content-center.navbar-light.bg-light {
    position: relative;
    z-index: 9999999;
}
ul.navbar-nav {
    height:unset;
}
.site-logo img {
  
    top: 0px;
}
}
@media(max-width:500px){
    div#dnn_ctr1163_ProductListing_ctl00_uscFind_lstRecords_pnlItems {
        position: relative;
        right: 5%;
    }
    .footer-social__icon{
        font-size: 26px;
        margin-left: 30px;
    
    
    
    }
    .form-group{
        margin-top: 29px;

    }
    .footer-social {
        background:white;
        /* background: #f7f4eb!important; */
    }
  

 
    .footer-logo {
        padding-left: 32%!important;
        padding-bottom: 30px;
    }
    .header-security, .header-ricesupplierdirectory, .header-industryservicesdirectory, .header-usariceshop, .header-boardscommittees, .header-events {
        /*height: 133px;*/
    }
    .page-title > h1{
        font-size:1.5em;
    }
  
    select#locationList, select#ricetypeList, select#productList {
       
   
        top:17px;
    }

    .actions-div-services {
    
        left: 46%;
    }



.site-logo {
    margin-left: 0px;
}
.pane-fullwidth.pane-fullwidth-usariceshop {
   
}
}


@media (max-width:400px){



    .navbar-nav.navbar.text-white.d-inline-block.justify-content-end {
       display: block!important;
       bottom:10px;
    }

    .navbar-nav.navbar.text-white.d-inline-block.justify-content-end {
        left: 50px;
    }
    select#locationList, select#ricetypeList, select#productList {
        min-width: 71vw;
    }
    .navbar {
        padding-left: 0rem!important;
    }
   
}
.nav-item > a > i.fas.fa-search {
    color:white;
    font-weight:700;
}
a#dnn_ctl04_dnnLogin_enhancedLoginLink {
    background: #1E3C72;
}

.form-control, .mx-username-textbox, #dnn_ctr773_SignIn_ctl00_txtUsername{
    background-color:#F7F4EB!important;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #64BA4D!important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem  #64BA4D!important;
}
.input-group-append > a:link{
    color:white!important;
}

.mx-image-product{

    height:auto!important;
}
a#dnn_ctr1163_ProductListing_ctl00_uscFind_lstRecords_ctrl0_ctl00_uscAddToCart_lnkAdd:link{
    color:white!important;
}
a#dnn_ctr1163_ProductListing_ctl00_uscFind_lstRecords_ctrl0_ctl00_uscAddToCart_lnkAdd:hover{
    color:white!important;
}
a#dnn_ctr1163_ProductListing_ctl00_uscFind_lstRecords_ctrl0_ctl00_uscAddToCart_lnkAdd:visited{
    color:white!important;
}

a#dnn_ctr1163_ProductListing_ctl00_uscFind_lstRecords_ctrl0_ctl00_uscAddToCart_lnkAdd {
    color: white!important;
}

a:not([href]):not([tabindex]) {
    color: white!important;
    text-decoration: none;
}

.btn-danger {
    color: #fff;
    background-color: #A81E35!important;
    border-color: #A81E35!important;
}
}

/*Printing Styles*/

@media print {
  

    header footer nav {
        display: none;
    }
    div.directory-result-div{
        font-family: 'Open Sans', sans-serif!important;
        border:black thin solid;
        border-radius: 10px;
        page-break-after: always!important;
        break-inside: avoid;
        } 
    
    #gdpr{
        display:none;
    }


}

.dnnModuleManager.dnnSortable {
    min-height: 0px !important;
    
}
.dnnModuleManager {
  
   
    min-height: 0px !important;
}
.header-security, .header-ricesupplierdirectory, .header-industryservicesdirectory, .header-usariceshop, .header-boardscommittees, .header-events {
    /*height:207px;*/
}
i.fas.fa-cog {
    color:#1E3C72!important;
}
.page-title-font{
    font-size:30px;
}
.mx-shoppingcartwithitems-panel .nav-link{
    color:#1E3C72;
}
.alert.alert-primary.font-weight-bold{
    color:white!important;
}
header.header-home {
    /*height:575px!important;*/
}

header.header-myaccount {
   /* height: 340px;*/
}
.pane-fullwidth.pane-fullwidth-security-signin{
    /*margin-top:30px!important;*/
}
.pane-fullwidth.pane-fullwidth-events-registrationstart{
    /*margin-top:30px!important;*/
}
.pane-fullwidth.pane-fullwidth-events-single{
    /*margin-top:30px!important;*/
}

/*
.mx-pager-wrapper{
    display:none;
}
*/

.directory-dropdown{
	width:100%;
}

.search-form-suppliers{
	
border-color: #bbb !important;
}

header.header-events {
   
}

@media(max-height:1366px){
  
    

    
  
    
    .page-title.bg-primary.text-light.page-title-security.page-title-security-signin {
        min-height: 300px;
    }
    .btn.btn-info.text-light.d-inline-block {
        color: white!important;
        padding: 14px;
    }
    .navbar-brand.site-logo {
        top: 8px;
        
    }
    
  
    
}


@media(min-width:320px) and (min-height:568px){
    .page-title {
         min-height: 41vh;
    }
}
/*iPhone X */
@media(min width:375px) and (min-height:812px){
    .new-search-div.d-inline-block {
        top: 39px;
        left: 208px;
    }
   
    .page-title.bg-primary.text-light.page-title-myaccount.page-title-myaccount-myprofile {
        min-height: 41vh!important;
    }
    select#productList {
        position: relative;
         left: 0px!important;

    }
    a.new-search-a {
        /* bottom: 50px; */
        right: 62px;
        top: 40px;
    }
    .new-search-div.d-inline-block {
        top: 100px;
        left: 120px;
    }
}
/*iPad Pro*/
@media (min-width: 1024px) and (max-width: 1366px) {
   
   

    .search-form-suppliers {
        
            height: 11vh!important;
        }
       
        #dnn_ctl06_dnnLogin_enhancedLoginLink {
            
            padding: 13px;
        }
        .pane-contentpane.pane-contentpane-boardscommittees {
               /* top: 155px; */
    
        }
        .header-usariceshop{
            /*height:162px;*/
        }
        .navbar.navbar-expand-lg.justify-content-center.navbar-light.bg-light > .row > div:nth-child(2){
            width:92%;
        }
        nav.navbar.navbar-expand-md {
            justify-content: flex-end;
        }
        .page-title.bg-primary.text-light.page-title-myaccount.page-title-myaccount-myprofile {
            min-height: 24vh!important;
        }
       

}
/*iPad*/
@media (min-width: 768px) and (max-height:1024px){
    nav.navbar.navbar-expand-md {
        justify-content: flex-end;
    }
    .page-title.bg-primary.text-light.page-title-myaccount.page-title-myaccount-myprofile {
        min-height: 32vh;
    }
    nav .btn {
     
        bottom: 3px;
        padding-bottom: 19px;
    }



}
/*iPhone Plus*/
@media(min-width:414px) and (min-height:736px){
    .page-title {
        min-height: 32vh;
    }
}


@media(max-height:640px){


    .navbar-nav.navbar.text-white.d-inline-block.justify-content-end {
        left: 31px;
    }
    .search-form-suppliers {
        height: 36vh!important;
    }
   

}
@media(max-height:640px){
    .navbar-nav.navbar.text-white.d-inline-block.justify-content-end {
        left: 38px;
    }
    .search-form-suppliers {
        height: 40vh!important;
    }

}
@media(max-height:568px){
    .search-form-suppliers {
        height: 40vh!important;
    }
}

@media(max-height:667px){
    .navbar-nav.navbar.text-white.d-inline-block.justify-content-end {
        left: 36px;
    }
  /*  .search-form-suppliers {
        height: 40vh!important;
    }*/

}
@media(min-height:812px){
    .navbar-nav.navbar.text-white.d-inline-block.justify-content-end {
        left: 36px;
    }
}


.tabcontent a{
	padding: 1px !important;
	display: block !important;
}

.expand-icon{
	padding/top:10px !important;
	background-color: #1952b9;
	
}
.mx-global-navigationstatus-wrapper .mx-number-count {
    background-color: white!important;
    color: #1e3c72!important;
}
#dnn_ctr1663_HtmlModule_lblContent {
    background-color: #f7f4eb;
    border-radius: 20px;
    padding: 20px;
}
.form-control {
    padding: 0.0rem 1rem!important;
}
li.refresh-li {
    padding: 5px;
}

li.refresh-li:hover {
    background: #eee;
}
.mx-shoppingcart-cart-wrapper a:not([href]):not([tabindex]) {
    color: inherit!important;
}

/*CSEShow Hide*/
.cseShowHide {
	display: block;
    }    
.cseHideShow {
	display: none;
    }   

.modal-backdrop.show {
	display: none !important;
}
